*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: ;
    heigt: 100vh:;
    
}
.container{
    backgound-color: ;
    padding: 20px 20px
    border-radius: 8px;
    width: 380px;
}
